* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;    font-size: 16px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    text-decoration: none;
    color: inherit;
}

 /* header section */
.nav {
    position: fixed;
    top: 0%;
    padding: 0 24px;
    height: 64px;
    width: 100%;
}
.nav .logo-name a{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
}
.nav .logo-name span {
    color: rgb(182, 179, 179);
    font-weight: 300;
}
.nav-bar ul {
    list-style: none;
}
.nav-bar ul li {
    display: inline-block;
    margin-left: 16px;
}
.mobile {
    display: none;
}
@media only screen and (max-width: 760px) {
    .desktop {
        display: none !important;
    }
    .mobile {
        display: flex;
        height: 64px;
        width: 100%;
        align-items: center;
    }
    .mobile nav {
        width: 100%;
    }
    .mobile nav ul {
        display: flex;
        justify-content: space-between;
    }
    .mobile nav ul li {
        margin: 0;
    }
} /* header section ends here */

/* main section */
    /* banner section */
main {
    margin-top: 64px;
}
.banner-section {
    flex-wrap: wrap;
    justify-content: initial;
    align-items: center;
    background-color: rgb(236, 235, 235);
}
.banner {
    padding: 32px 24px;
    width: 60%;
}
.banner img {
    width: 100%;
    height: auto;
}
.banner-details {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    opacity: .95;
    color: rgb(61, 60, 60);
    width: 40%;
    padding-right: 5px;
}
h1 {
    font-size: 3.5rem;
}
.banner-details h3 {
    font-size: 2rem;
    margin-top: 30px;
}
.banner-details .button {
    margin: 60px 0;
    width: 75%;
    background-color: rgb(44, 44, 44);
    color: white;
}
.banner-details .button p {
    text-align: center;
    margin: 8px auto;
}
@media only screen and (max-width:990px) {
    .banner-details h1 {
        font-size: 2.2rem;
    }
    .banner-details h3 {
        font-size: 1.5rem;
        margin-top: 32px;
    }
}
@media only screen and (max-width: 760px) {
    .banner-section .banner {
        width: 100%;
        padding: 0;
    }
    .banner-section .banner-details {
        width: 100%;
        padding: 32px 16px;
    }
    .banner-details .button {
        background-color: rgb(108, 109, 109);
        width: 98%;
        margin: 24px 0 0 0;
    }
}

    /* on-campus section */
.on-campus {
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
}
.banner-talk h1 {
    font-size: 2.32rem;
}
.banner-talk #quoto {
    margin: 24px 0;
}
.on-campus-image {
    width: 60%;
}
.on-campus-details {
    width: 40%;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 16px;
}
.on-campus-details .container {
align-items: center;
}
.on-campus-details div .image {
    padding: 16px;
    width: 35%;
    height: auto;
}
.on-campus-details div .image-detail {
    width: 65%;
}
.on-campus-details div .image-detail h3 {
    margin: 0;
}
.on-campus-details div .image-detail p {
    margin: 8px 0;
}
.on-campus-details div .image-detail a {
    color: blue;
}
.on-campus-details div img {
    width: 100%;
    height: auto;
}
@media only screen and (max-width:999px) {
    .banner-talk h1 {
        font-size: 1.7rem;
    }
}
@media only screen and (max-width: 760px) {
    .on-campus-details {
        width:100%;
        padding: 0;
    }
    .on-campus-details .container {
        flex-direction: column;
        margin-bottom: 64px;
    }
    .on-campus-details div .image {
        width: 100%;
    }
    .on-campus-details div .image-detail {
        width: 100%;
        padding-left: 32px;
    }
}