* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;    font-size: 16px;
}
body {
    background-color: rgb(249, 249, 249);
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    text-decoration: none;
    color: inherit;
}
h1 {
    font-size: 3.5rem;
    opacity: .85;
}
h2 {
    font-size: 2.75rem;
    opacity: .85;

}
h3 {
    font-size: 1.75rem;
    opacity: .85;
}

 /* header section */
.nav {
    position: fixed;
    top: 0%;
    padding: 0 24px;
    height: 64px;
    width: 100%;
}
.nav .logo-name a{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
}
.nav .logo-name span {
    color: rgb(182, 179, 179);
    font-weight: 300;
}
ul {
    list-style: none;
}
.nav-bar ul li {
    display: inline-block;
    margin-left: 16px;
}
.mobile {
    display: none;
}
@media only screen and (max-width: 760px) {
    .desktop {
        display: none !important;
    }
    .mobile {
        display: flex;
        height: 64px;
        width: 100%;
        align-items: center;
    }
    .mobile nav {
        width: 100%;
    }
    .mobile nav ul {
        display: flex;
        justify-content: space-between;
    }
    .mobile nav ul li {
        margin: 0;
    }
} /* header section ends here */

/* main section */
    /* banner section */
main {
    margin-top: 64px;
}
.banner-section {
    flex-wrap: wrap;
    justify-content: initial;
    align-items: center;
    background-color: rgb(236, 235, 235);
}
.banner {
    padding: 32px 24px;
    width: 60%;
}
.banner img {
    width: 100%;
    height: auto;
}
.banner-details {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    opacity: .95;
    color: rgb(61, 60, 60);
    width: 40%;
    padding-right: 5px;
}
h1 {
    font-size: 3.5rem;
    opacity: .85 !important;
}
.banner-details h3 {
    font-size: 2rem;
    margin-top: 30px;
}
.banner-details .button {
    margin: 60px 0;
    width: 75%;
    background-color: rgb(44, 44, 44);
    color: white;
}
.banner-details .button p {
    text-align: center;
    margin: 8px auto;
}
@media only screen and (max-width:990px) {
    .banner-details h1 {
        font-size: 2.2rem;
    }
    .banner-details h3 {
        font-size: 1.5rem;
        margin-top: 32px;
    }
}
@media only screen and (max-width: 760px) {
    .banner-section .banner {
        width: 100%;
        padding: 0;
    }
    .banner-section .banner-details {
        width: 100%;
        padding: 32px 16px;
    }
    .banner-details .button {
        background-color: rgb(108, 109, 109);
        width: 98%;
        margin: 24px 0 0 0;
    }
}

    /* on-campus section */
.on-campus {
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
}
.banner-talk h1 {
    font-size: 2.32rem;
    opacity: .8;
}
.banner-talk #quoto {
    margin: 24px 0;
}
.on-campus-image {
    width: 60%;
}
.on-campus-details {
    width: 40%;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 16px;
}
.on-campus-details .container {
align-items: center;
}
.on-campus-details div .image {
    padding: 16px;
    width: 35%;
    height: auto;
}
.on-campus-details div .image-detail {
    width: 65%;
}
.on-campus-details div .image-detail h3 {
    margin: 0;
}
.on-campus-details div .image-detail p {
    margin: 8px 0;
}
.on-campus-details div .image-detail a {
    color: blue;
}
.on-campus-details div img {
    width: 100%;
    height: auto;
}
@media only screen and (max-width:999px) {
    .banner-talk h1 {
        font-size: 1.7rem;
    }
}
@media only screen and (max-width: 760px) {
    .on-campus-details {
        width:100%;
        padding: 0;
    }
    .on-campus-details .container {
        flex-direction: column;
        margin-bottom: 64px;
    }
    .guest-lecture {
        margin-bottom: 32px !important;
    }
    .on-campus-details div .image {
        width: 100%;
    }
    .on-campus-details div .image-detail {
        width: 100%;
        padding-left: 32px;
    }
}

    /* online section */
#online-link {
    background-color: rgb(236, 235, 235);
}
#online-link .head h2 {
    text-align: center !important;
    padding-top: 32px;
}
.online {
    padding: 32px 72px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.online .margin-top {
    margin-top: 16px;
}
.margin-bottom {
    margin-bottom: 16px;
}
.online .margin-right {
    margin-right: 16px;
}
.online .margin-left {
    margin-left: 16px;
}
.image-holder {
    background-color: white;
    width: 31.5%;
    flex-direction: column;
    align-items: flex-start;
}
.image-holder .image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 16px;
}
.image-holder .image-detail {
    height: 125px;
    margin-left: 16px;
}
.image-holder .image-detail .title {
    margin: 8px 0;
}
@media only screen and (max-width: 1126px) and (min-width:761px) {
    .image-holder {
        height: 300px;
        justify-content: flex-start;
        margin: 10px !important;
    }
    .image-holder .image-detail {
        height: auto;
    }
}
@media only screen and (max-width: 760px) {
    #online-link {
        background-color: transparent;
    }
    .online {
        margin: 16px auto 24px auto;
        padding: 0%;
        flex-direction: column;
        align-content: center;
    }
    .online .image-holder {
        background-color: rgb(236, 235, 235);
        margin: 0 0 8px 0;
        padding: 16px 5px 24px 16px;
        width: 90%;
    }
    .online .image-holder .image-detail {
        height: auto;
        margin: 0%;
    }
}

    /* companies section */
#or-companies-link .head {
    margin-top: 32px;
    text-align: center;
}
.video video {
    max-width: 100%;
}
.thesis-main {
    padding: 32px 0;
    align-items: flex-start;
}
.thesis-main .banner {
    padding: 0;
}
.thesis-main .banner .video {
    padding: 24px 24px 24px 24px;
}
.thesis-main .banner .banner-talk {
    padding-left: 24px;
}
.banner-talk h3 {
    margin-bottom: 8px;
}
.banner-details .container {
    justify-content: flex-start;
}
.thesis-main .banner-details .container .image {
    width: 35%;
    height: auto;
    padding: 16px;
}
.thesis-main .banner-details .container .image img {
    max-width: 100%;
    height: auto;
}
@media only screen and (max-width: 760px) {
    .thesis-main {
        padding: 0;
    }
    .thesis-main .banner {
        width: 100%;
        margin: 16px 0 24px 0;
        padding: 0;
    }
    .thesis-main .banner .video {
        padding: 0;
    }
}

hr {
    width: 98.5%;
    margin: auto;
}

/* footer section */
footer {
    padding: 16px 24px;
}
.term-list ul .margin {
    margin-right: 20px;
}