* {
    font-family: Verdana;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 16px;
}

#para1 {
    font-size: 3.1215rem;
    font-weight: normal;
}

.link {
    padding-bottom: 20px;
}
.link a{
    font-size: 1rem;
    color: aquamarine;
}

.para2 {
    font-size: 2.625rem;
    font-weight: 300;
}

.para3 {
    font-size: 1.3125rem;
    color: gray;
}
#logo {
    padding-top: 20px;
}
footer p {
    text-align: right;
}